<div class="row">
<% @users.each do |user| %>
  <div class="col-6 col-md-4 mt-4 ">
    <div class="card">
      <%= link_to image_tag("PAM.png", class: "card-img-top", alt: "サンプル画像"), user_path(user.id) %>
      <div class="card-body">
        <div class="card-title"><%= user.name %></div>
        <div class="card-text"></div>
      </div>
    </div>
    <div class="m-4">
    </div>
  </div>
<% end %>
</div>
