<% provide(:title, 'All users') %>
<h1 class="font-italic">All Guides</h1>

<%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<ul class="users">
  <div class="row">
    <% @users.each do |user| %>
      <%= render user %>
    <% end %>
  </div>
</ul>

<%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
