// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mt-apply {
  margin-top: 100px;
}

.plan-img {
  object-fit: cover;
}

img.card-img-top {
  object-fit: cover;
}
