<h1>編集する</h1>
<%= form_tag("/posts/#{@plan.id}/update)" do %>
      
          <textarea name="content"><%= @plan.content %></textarea>
          <input type="submit" value="保存">
        
    
    <% end %>